* {
	box-sizing: border-box;
	font-family: 'Josefin Slab', serif;
}

header {
	background: #2E282A;
	color: #fff;
}

.dropdown {
	display: flex;
	justify-content: flex-end;
}

.nav-icon,
.slct-icon {
	align-self: center;
	height: 1em;
	width: 1em;
}

select {
	background: none;
	border: none;
	color: #E55934;
	font-size: 14pt;	
	margin: 30px 30px 30px 0px;
	width: 100px;
}

select:focus {
	box-shadow: 0 0 5px #E55934;
	outline: 1px solid #E55934;
}

.nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100vw;
}

nav {
	display: flex;
    justify-content: space-between;
    width: 600px;
}

button {
    align-items: center;
    background: none;
    border: none;
	color: #A5A5A5;
    display: inline-flex;
	font-size: 16pt;
    justify-content: center;
	width: 140px;
}

button:hover {
	color: #fff;
}

.btn-icon {
	height: 25px;
	margin: 0px 15px 0px 0px;
	widows: 25px;
}

.highlight {
	color: #fff;
}

h1 {
	font-size: 32pt;
	margin: 30px;
}

.title-icon {
		height: 40px;
		width: 40px;
	}

main {
	background: #CBC4C1;
}

h2 {
	color: #605F5E;
	font-size: 32pt;
	margin: 0px auto;
	padding: 35px 25px;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto;
}

article {
	background: #fff;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 8px;
	width: 23vw;
}

.background-img1 {
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("../images/this-amer-life.png") no-repeat center;
	background-size: cover;
}

.background-img1:hover {
	background: url("../images/this-amer-life.png") no-repeat center;
	background-size: cover;
}

.background-img2 {
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("../images/joe-rogan-experience.jpg") no-repeat center;
	background-size: cover;
}

.background-img2:hover {
	background: url("../images/joe-rogan-experience.jpg") no-repeat center;
	background-size: cover;
}

.background-img3 {
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)), 
                     url("../images/duncan-trussell-family-hour.jpg") no-repeat center;
	background-size: cover;
}

.background-img3:hover {
	background: url("../images/duncan-trussell-family-hour.jpg") no-repeat center;
	background-size: cover;
}

.background-img4 {
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("../images/cbb-podcast.jpg") no-repeat center;
	background-size: cover;
}

.background-img4:hover {
	background: url("../images/cbb-podcast.jpg") no-repeat center;
	background-size: cover;
}

.background-img5 {
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)), 
                     url("../images/last-podcast.jpg") no-repeat center;
	background-size: cover;
}

.background-img5:hover {
	background: url("../images/last-podcast.jpg") no-repeat center;
	background-size: cover;
}

.background-img6 {
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("../images/radio-lab.png") no-repeat bottom;
	background-size: cover;
}

.background-img6:hover {
	background: url("../images/radio-lab.png") no-repeat bottom;
	background-size: cover;
}

.background-img7 {
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("../images/star-talk.jpg") no-repeat center;
	background-size: cover;
}

.background-img7:hover {
	background: url("../images/star-talk.jpg") no-repeat center;
	background-size: cover;
}

.background-img8 {
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("../images/doug-loves-movies.jpg") no-repeat center;
	background-size: cover;
}

.background-img8:hover {
	background: url("../images/doug-loves-movies.jpg") no-repeat center;
	background-size: cover;
}

.img-container {
	display: flex;
	height: 178px;
	justify-content: space-between;
}

.play-icon {
	height: 7em;
    padding: 20px;
    width: 7em;
}

.share-counter {
	align-items: center;
	background: rgba(20,20,20, .5);
	border-radius: 50%;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 80px;
    margin: 10px;
    width: 80px;
}

.counter {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	margin: 13px 20px 0px;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	margin: 10px 20px;
}

.episode-name {
	font-size: 16pt;
	height: 2em;
	margin: 0px;
}

.podcast-name {
	font-size: 16pt;
	height: 2em;
    margin: 0px;
}

.date {
	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
	margin: 0px;
}

.podcast-link {
	background-color: lightgrey;
	color: #A5A5A5;
	height: 4em;
	margin: 14px 0px;
	padding: 12px;
	text-decoration: none;
	word-wrap: break-word;
}

.host {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	margin: 0px;
}


.rating {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	margin: 12px 0px 0px;
}

.rating-value {
	color: #E55934;
}

.rating-value,
.counter-value {
    font-size: 26pt;
	margin: 0px;
}

@media screen and (max-width: 1000px) {
	nav {
		width: 475px;
	}

	article {
		width: 30vw;
	}

	main {
		padding: 0px 0px 0px 15px;
	}

	section {
		justify-content: flex-start;
	}
}

@media screen and (max-width: 750px) {
	.nav {
		flex-direction: column-reverse;
	}

	nav {
    	display: flex;
    	justify-content: space-around;
		margin: 20px;
    	width: 500px;
	}

	button {
		font-size: 16pt;
		width: 130px;
	}

	.dropdown {
		justify-content: flex-start;
	}

	select {
		margin: 25px 0px 0px;
	}

	.slct-icon {
    	margin: 23px 0px 0px 15px
	}

	h1 {
		margin: 0px auto;
	}

	article {
		width: 45vw;
	}
}

@media screen and (max-width: 500px) {
	nav {
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	button {
		height: 40px;
		margin: 3px auto;
		width: 100%;
	}

	.highlight {
		background: #E55934;
	}

	.browse-btn {
		background: #503B31;
	}

	.share-btn {
		background: #6F5E56;;
	}

	main {
		padding: 10px;
	}

	h2 {
		display: none;
	}

	article {
		width: 90vw;	
	}

}









